.sections {
    max-width: 75vw;
    margin: 100px auto 0;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.sections img {
    display: block;
    max-width: 100%;
    padding: 10px;
    scroll-snap-align: start;
}

.destaques a {
    display: flex;
    align-items: center;
}

.destaques img {
    max-width: 360px;
}

.destaques p {
    width: 1060px;
    margin: 10px;
    font-size: 30px;
}

.destaques, .skins {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.skins, .destaques {
    display: flex;
    margin-bottom: 50px;
}

.skins img {
    max-width: 180px;
    border-bottom: 3px solid;
}

.skins a:hover {
    transform: scale(1.1);
}

.sections button {
    position: fixed;
    height: 360px;
    padding: 7px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: .5;
    z-index: 99;
}

.skins button {  
    height: 183px;
}

.button-left {
    animation: movement-left 2s infinite;
}

.button-right {
    animation: movement-right 2s infinite;
}

.sections button:hover {
    opacity: 1;
}

@keyframes movement-left {
    0%, 100% {left: -35px;}
    50% {left: -45px;}
}

@keyframes movement-right {
    0%, 100% {right: -35px;}
    50% {right: -45px;}
}

@media (max-width: 999px) {
    .destaques p {
        display: none;
    }
}   